<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <script src="/jquery-3.3.1.min.js"></script>
    <script src="http://www.jsdelivr.com/#!jquery.cookie"></script>
    <title>Lobby</title>
    <meta name="description" content="Lobby">
</head>

<body>
    <h1>Lobby</h1>
    <input name="join_mental" id="join_mental" value="Join Mental" type="submit" />
    <input name="start_new_mental" id="start_new_mental" value="Start Mental" type="submit" />
</body>
<script src="scripts/lobby.js"></script>

</html>

<!---  how to pass user, cookie? ->