<!doctype html>


<html lang="en">

<head>
    <meta charset="utf-8">
    <script src="/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <title>Mental Game</title>
    <meta name="description" content="Basic_Tracker">
</head>

<body>
    <h1>Mental Ju-Jitsu</h1>
    <section>
        <p id="status"></p>
        <p id="location"></p>
    </section>

    <p><button onclick="geoFindMe()">Show my location</button></p>
    <div id="out"></div>
</body>
<script src="/tracks.js"></script>

</html>