<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <script src="/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" href="/main.css" />
    <script type="text/javascript" src="lobby.js"></script>
    <title>Lobby</title>
    <meta name="description" content="Lobby">
</head>

<body>
    <main>
        <h1>Lobby</h1>
        <div class="base">
            <p>Username:
                <%= login_name %>
            </p>
            <!--         <button type="button" class=""><%= login_name %></button>
        <button type="button" class=""><%= login_name %></button>
        <button type="button" class=""><%= login_name %></button> -->
        </div>
        <div class="selected">
            <p>Now I'm here:</p>
        </div>

        <input name="join_mental" id="join_mental" value="Join Mental" type="submit" />
        <input name="start_new_mental" id="start_new_mental" value="Start Mental" type="submit" />
        <!-- route in app.js that returns to lobby state
button do a git request -->
        <script>
            $('#start_new_mental').click(function() {
                console.log('clicked test button'); //works
                $.post({
                    type: "POST",
                    url: '/create_mental',
                    success: function(ret) {
                        console.log(ret);
                        if (ret === 'worked') {
                            console.log('return worked');

                            window.location.href = '/mental';
                        } else {
                            console.log('return failed');
                        }
                    }
                });
            });

            //this only moves the user in the lobbystate array
            //this queries cookie and send it to a route that tells the lobby
            //state remove its associated user object from lobby add me to mental queue
            $('#join_mental').click(function() {
                console.log('clicked join mental'); //works
                $.get({
                    type: "GET",
                    url: '/move_to_mental_queue',
                    success: function(ret) {
                        console.log(ret);
                    }
                });
            });
        </script>
</body>
</main>

</html>